<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h1 class="mb-3">Professional Categories</h1>
    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
</div>
<div class="row g-4">
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('architecture')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-pencil-ruler fs-1"></i>                
                </div>
                <h6>Architect</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('interiorDesigner')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-couch fs-1"></i>
                </div>
                <h6>Interior Designer</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('sanitaryExperts')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fa fa-bath fs-1"></i> 
                </div>
                <h6>Sanitary Expert</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('contractor')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-hard-hat fs-1"></i>  
                </div>
                <h6>Contractor</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('electrician')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-plug fs-1"></i>
                </div>
                <h6>Electrician</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('carpenter')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-tools fs-1"></i>
                </div>
                <h6>Carpenter</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('painter')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-paint-roller fs-1"></i>
                </div>
                <h6>Painter</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col" data-wow-delay="0.1s">
        <div (click)="onSelectProfessional('agents')" class="card border-0 d-block bg-white shadow text-center rounded p-3">
            <div class="rounded p-4">
                <div class="icon mb-3">
                    <i class="fas fa-user fs-1"></i>
                </div>
                <h6>Agents</h6>
                <span>123 Properties</span>
            </div>
        </div>
    </div>
</div>
