.ng-touched.ng-invalid{
    border-color: red;
}
.google-btn {
    border: 1px solid #e3e3e3;
  }
  
  .or-text {
    top: -11px;
    width: 30px;
    background-color: #f8f9ff;
    text-align: center;
    left: calc(50% - 15px);
  }
  