<div class="mb-sm-4 container-fluid shadow bg-white p-0">
  <div class="row  align-items-center flex-column flex-md-row ">
    <div class="col-md-6 col-12 p-sm-5 p-4 mt-lg-4">
        <h1 class="lighter mb-4">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
        <p class="animated fadeIn mb-4 pb-2">
          Discover endless inspiration and transform your living space with our all-in-one home design and renovation platform - your ultimate destination for all things home - welcome to our world of Heavenly Homes.
        </p>
        <button class="btn btn-primary shadow rounded-0" (click)="onGetStarted()">Get Started</button>
    </div>
    <div class="col-md-6 d-md-flex h-md-100">
      <img class="img-fluid" src="https://wallpaperaccess.com/full/5089528.jpg" alt="hello">
    </div>
  </div>
</div>
