<div class="row">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card shadow rounded-2 border-0 mb-4" (click)="onSelectProfessional('id')">
      <img src="assets/crousel/image.jpg" class="card-img-top rounded-top-2" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-6">Duplicate Destructions</h5>
        <p><i class="fas fa-user-tie fs-7 ms-1 me-2"></i>Architecture</p>
        <p><i class="fas fa-phone-alt ms-1 me-2 text-success fs-7"></i>+919099953821</p>
        <p><i class="fa fa-map-marker-alt ms-1 text-success me-2 fs-7"></i>123 Street, New York, USA</p>
      </div>
    </div>    
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card shadow rounded-2 border-0 mb-4">
      <img src="assets/crousel/image.jpg" class="card-img-top rounded-top-2" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-6">Duplicate Destructions</h5>
        <p><i class="fas fa-user-tie fs-7 ms-1 me-2"></i>Architecture</p>
        <p><i class="fas fa-phone-alt ms-1 me-2 text-success fs-7"></i>+919099953821</p>
        <p><i class="fa fa-map-marker-alt ms-1 text-success me-2 fs-7"></i>123 Street, New York, USA</p>
      </div>
    </div>    
  </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card shadow rounded-2 border-0 mb-4">
        <img src="assets/crousel/image.jpg" class="card-img-top rounded-top-2" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-6">Duplicate Destructions</h5>
          <p><i class="fas fa-user-tie fs-7 ms-1 me-2"></i>Architecture</p>
          <p><i class="fas fa-phone-alt ms-1 me-2 text-success fs-7"></i>+919099953821</p>
          <p><i class="fa fa-map-marker-alt ms-1 text-success me-2 fs-7"></i>123 Street, New York, USA</p>
        </div>
      </div>    
    </div>
  </div>
    
  
  <!-- <div class="card mb-3 h-100 w-100">
      <img src="https://wallpaperaccess.com/full/5089528.jpg" class="card-img-top max-size">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
  </div>
    -->