<div class="row mx-0 h-100 mt-5">
    <div class="col-12 col-lg-6 d-flex auth-section-bg flex-column align-items-center p-5">
        <div class="d-flex flex-grow-1 w-100 pt-5 pt-lg-0 justify-content-center align-items-lg-center">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="d-none d-lg-flex col-lg-6 bg-white align-items-center justify-content-center">
        <img src="assets/images/auth/login.svg" alt="" class="img-fluid w-80 d-block m-auto" />
    </div>
</div>
  