<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="position-sticky" style="top: 1rem;">
            <app-professional-profile-picture></app-professional-profile-picture>
            <app-professional-social-media></app-professional-social-media>
        </div>
    </div>    
    <div class="col-md-8 ">
        <app-professional-contact-details></app-professional-contact-details>
        <div class="card p-3 border-0 shadow">
        <div class="row gutters-sm">
            <div class="col-sm-6 mb-3 ">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
            <div class="col-sm-6 mb-3">
                <app-professional-project-item></app-professional-project-item>
            </div>
        </div>
    </div>
    </div>
</div>
